<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Predict Bike Share Count</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <style>

  h1 { 
		font-family: 'Poiret One', sans-serif;
		font-size: 40;
		text-align: center;
		font-weight: 1000;	
		color: red;
	}
  h2 { 
		font-family: 'Poiret One', sans-serif;
		font-size: 30;
		text-align: center;
		font-weight: 1000;	
	}
	p {
		font-family: 'Poiret One', sans-serif;
		font-weight: bold;
		text-align: center;
		font-size: 25;
	}
	option {
		font-family: 'Poiret One', sans-serif;
		font-weight: bold;
		text-align: center;
		font-size: 25;
	}
    </style>  
  </head>

<body>
 <div class="login">
  <p><img src="https://upload.wikimedia.org/wikipedia/en/1/1b/CapitalBikeshare_Logo.jpg" alt="Capital Bikeshare Logo" style="vertical-align:middle" width="200"></p>
  <p></p>
  <p><img src="https://static01.nyt.com/images/2017/10/01/us/02dc-bikes/02dc-bikes-jumbo.jpg?quality=90&auto=webp" alt="Capital Bikeshare Washington D.C." style="vertical-align:middle" width="600"></p>
  <p></p>
  <h1>prediction bikeshare</h1>
  <p></p>

  <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">

        <p><label for="Hour">hour of the day (between 0 and 23) </label>
        <input type="number" id="Hour" name="Hour" placeholder="hour" required="required" min="0" max="23" value = "<?php if (isset($_POST['Hour'])) echo $_GET['Hour'];?>"></p>

        <p><label for="Is_Holiday">is it a holiday?</label>
        <select name="Is_Holiday" id="Is_Holiday">
            <option value="Yes">yes</option>
            <option value="No">no</option>
        </select>

        <script type="text/javascript">
          document.getElementById('Is_Holiday').value = "<?php if (isset($_POST['Is_Holiday'])) echo $_GET['Is_Holiday'];?>";
        </script></p>

        <p><label for="Temperature">expected temperature (between -7°C and 39°C) </label>
        <input type="number" id="Temperature" name="Temperature" placeholder="temperature" required="required" min="-7" max="39" value = "<?php if (isset($_POST['Temperature'])) echo $_GET['Temperature'];?>"></p>

	<p><label for="Day_Of_Week">weekday </label>
        <select name="Day_Of_Week" id="Day_Of_Week">
            <option value="Mon">monday</option>
            <option value="Tue">tuesday</option>
            <option value="Wed">wednesday</option>
            <option value="Thu">thursday</option>
            <option value="Fri">friday</option>
            <option value="Sat">saturday</option>
            <option value="Sun">sunday</option>
        </select>

        <script type="text/javascript">
          document.getElementById('Day_Of_Week').value = "<?php if (isset($_POST['Day_Of_Week'])) echo $_GET['Day_Of_Week'];?>";
        </script></p>

	<p><label for="Month">month </label>
        <select name="Month" id="Month">
            <option value="January">january</option>
            <option value="February">february</option>
            <option value="March">march</option>
            <option value="April">april</option>
            <option value="May">may</option>
            <option value="June">june</option>
            <option value="July">july</option>
            <option value="August">august</option>
            <option value="September">september</option>
            <option value="October">october</option>
            <option value="November">november</option>
            <option value="December">december</option>
        </select>

        <script type="text/javascript">
          document.getElementById('Month').value = "<?php if (isset($_POST['Month'])) echo $_GET['Month'];?>";
        </script></p>

        <p><button type="submit" class="btn btn-primary btn-block btn-large">Predict</button></p>
    </form>
   <p></p>
   <h2>{{pred}}</h2>

</body>

</html>